services:
  postgis_container:
    env_file: ".env"
    image: timescale/timescaledb-ha:pg14-latest   # NOT the -oss- tag
    container_name: postgis_container
    restart: always
    environment:
      POSTGRES_DB: geospatial_db #must be in agreement with the value of the variable DATABASE_NAME defined in .env
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      TIMESCALEDB_TELEMETRY: 'off'        # optional
      TIMESCALEDB_LICENSE: 'timescale'    # enable free community features

    ports:
      - "${EXTERNAL_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    command: ["postgres"]
    platform: linux/amd64  # force amd64


volumes:
  postgres_data:
